.body{
	margin: 0 auto; 
	font-size: 15px;
}
.cajas{
	display: flex;
	flex-direction: wrap;
}
.header{
	background-color: #4688f2;
	height: 40px;
	color: white;
	font-size: 35px;
	font-style: bold;
	padding: 1.25%;
	text-align: left;

}
.caja2{
	width: 30%;
	padding-right: 5%;
}
.caja3{
	width: 30%;
}
.titulo{
	margin: 0 0;
	/*padding-bottom:2%;*/
	padding-top: 10%;
}
.linea-titulo{
		background-color: grey;
		border-color: transparent;
		width: 80%;
		margin-right: 20%;
	}
.caja1{
	width: 31%;
	padding-right:4%;
}
.info-personal{
	display: flex;
	flex-wrap: wrap;
	margin-top: 20px;
	margin-left: 25%;
}
.cajas-personal{
	display: flex;
	flex-direction: column;
	text-align: right;
	margin-left: 2%;
	margin-top: 5%;
}
.caja-motivaciones{
	display: flex;
	flex-direction: column;
	margin-top: 0%;
}
.caja-gris{
	background-color: #eff2f4;
	margin-top: 5px;
	width: 70%;
}
.caja-grisF{
	background-color: #d1d1d1;
	margin-top: 5px;
	width: 70%;
}
.lista{
	padding: 0 0 0 0;
	margin: 0 0 0 4%;
}
.caja-metas{
	display: flex;
	flex-direction: column;
	margin-left: 2%;	
}
.caja-historial {
	display: flex;
	flex-direction: column;
	margin-left: 2%;
	margin-top: 5%;
}
.cajas-porcentaje label{
	text-align: center;
}
.respuesta{
	color: black;
	text-align: left;
}
.biografia{
	padding: 5%;
	background-color: #dadee5;
	border-radius: 3%;
}
.porcentaje img{
	width: 70%;
}

.titulo-blue{
	color: #4688f2;
}
.caracteristicas{
	margin-top: 10%;
	font-size: 10px;
}
.caracteristicas label{
	font-size: 10px;
	background-color: #4688f2;
	color: white;
	border-radius: 3px;
	margin-left:5px;
	padding:1%; 
}
.social {
	font-size: 50px;
	margin-top: 15%;
	margin-left: 15%;
}
.img{
	width: 70%;
	margin-top: 20%;
	margin-bottom: 5%;
	margin-left: 15%;
}

.footer{
	background-color: #4688f2;
	text-align: center;
	padding: 1.25%;
	margin-top: 3%;
	width: 100%;
}

@media screen and (max-width: 360px) {
	
	.header{
		width: 100%;
		text-align: center;
		font-size: 20px;	
	}

	.cajas{
		display: flex;
		flex-direction: column;
		margin-left: 2%;	
	}
	
	.caja1{
		width: 100%;
	}
	.caja2{
		width: 100%;
	}
	.caja3{
		width: 100%;
	}

	.caracteristicas label{
		font-size: 10px;
		background-color: #4688f2;
		color: white;
		border-radius: 3px;
		margin-left:.5px;
		padding:1%; 
		}

	.img{
		margin-top: 10%;
		margin-bottom: 5%;
	}

	.titulo{
		margin: 0 0;
		/*padding-bottom:2%;*/
		padding-top: 10%;
		text-align: center;
	}
	
	.linea-titulo{
		background-color: rgb(0, 33, 86);
		height: 1px;
		width: 70%;
		border-color: transparent;
	}
}


@media screen and (max-width: 375px) {
	
	.header{
		width: 100%;
		text-align: center;
		font-size: 20px;	
	}

	.cajas{
		display: flex;
		flex-direction: column;
		margin-left: 2%;	
	}
	
	.caja1{
		width: 100%;
	}
	.caja2{
		width: 100%;
	}
	.caja3{
		width: 100%;
	}

	.caracteristicas label{
		font-size: 10px;
		background-color: #4688f2;
		color: white;
		border-radius: 3px;
		margin-left:1px;
		padding:1%; 
		}

	.img{
		margin-top: 10%;
		margin-bottom: 5%;
	}

	.titulo{
		margin: 0 0;
		/*padding-bottom:2%;*/
		padding-top: 10%;
		text-align: center;
	}
	
	.linea-titulo{
		background-color: rgb(0, 33, 86);
		height: 1px;
		width: 70%;
		border-color: transparent;
	}
}




@media screen and (max-width: 425px) {
	
	.header{
		width: 100%;
		text-align: center;
		font-size: 20px;	
	}

	.cajas{
		display: flex;
		flex-direction: column;
		margin-left: 2%;	
	}
	
	.caja1{
		width: 100%;
	}
	.caja2{
		width: 100%;
	}
	.caja3{
		width: 100%;
	}

	.caracteristicas label{
		font-size: 10px;
		background-color: #4688f2;
		color: white;
		border-radius: 3px;
		margin-left:1px;
		padding:1%; 
		}

	.img{
		margin-top: 10%;
		margin-bottom: 5%;
	}

	.titulo{
		margin: 0 0;
		/*padding-bottom:2%;*/
		padding-top: 10%;
		text-align: center;
	}
	
	.linea-titulo{
		background-color: rgb(0, 33, 86);
		height: 1px;
		width: 70%;
		border-color: transparent;
	}
}